In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(0, 14).reshape(7,2),columns =['a','b'] )

df.a =  df.a %3
df['who'] = 'Bob'
df.iloc[6,1]=np.nan
df

   a     b  who
0  0   1.0  Bob
1  2   3.0  Bob
2  1   5.0  Bob
3  0   7.0  Bob
4  2   9.0  Bob
5  1  11.0  Bob
6  0   NaN  Bob

In [6]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [12]:
df.iloc[4,1]=7
df.iloc[4,0]=0
df

   a     b  who
0  0   1.0  Bob
1  2   3.0  Bob
2  1   5.0  Bob
3  0   7.0  Bob
4  0   7.0  Bob
5  1  11.0  Bob
6  0   NaN  Bob

In [15]:
#全部数据查找重复
df.duplicated()

0    False
1    False
2    False
3     True
4     True
5     True
6     True
dtype: bool

In [16]:
#部分数据查找重复
df.duplicated(subset='a')

0    False
1    False
2    False
3     True
4     True
5     True
6     True
dtype: bool

In [20]:
df.drop_duplicates?
df.drop_duplicates(subset='a', keep='last')

   a     b  who
1  2   3.0  Bob
5  1  11.0  Bob
6  0   NaN  Bob