# Pandas各种定位（[], loc, iloc, at, iat, ix）

In [90]:
#列定位[]

import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(0, 6).reshape(3,2),columns =[1,'a'] , index=['a','b','a'])
df['who'] = 'Alice'
df.loc['a','who'] =  'Bob'
df

   1  a    who
a  0  1    Bob
b  2  3  Alice
a  4  5    Bob

# 方括号定位的不一致
下面2种定位方式几乎是差不多的,但是一个是基于列的,一个是基于行的,完全不一致.个人也认为这是为什么要引入loc和iloc这2种定位方式的原因

In [91]:
print(df[1])
print(df[:1])

a    0
b    2
a    4
Name: 1, dtype: int64
   1  a  who
a  0  1  Bob

/Users/lali2/dev/python/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

* 很难想象,下面2种用法距离是一样的效果. 如果不了解原因,对于有强迫症的程序员来说,太难受了

In [95]:
if df ['who']['b'] is df.loc['b', 'who']  :
    print("yes")

yes

# loc/iloc定位场景
通过Label或者Position来定位

In [42]:
df.iloc[0]

1          0
a          1
who    Alice
Name: 0, dtype: object

In [46]:
df.loc['b', 'who']

'Alice'

In [47]:
df.loc['a', 'who']

a    Bob
a    Bob
Name: who, dtype: object

# at/iat定位场景

In [70]:
#基于label定位
df.at['a', 'who']

array(['Bob', 'Bob'], dtype=object)

In [71]:
#基于position定位
df.iat[1, 2]

'Alice'

# 多层label时如何访问

In [72]:
gp = df.groupby('who').agg({'a':[max, min]})
gp

        a
      max min
who
Alice   3   3
Bob     5   1

In [69]:
gp.loc['Bob',('a','max')]

5

In [73]:
gp.iloc[1,0]

5

# IX定位场景
* 支持越界

In [85]:
gp.ix[0:5,0:1]

0

In [80]:
gp.ix['Bob']

a  max    5
   min    1
Name: Bob, dtype: int64

In [89]:
a=123
f'{a}={b*a}'

'123=56088'