In [30]:
import pandas as pd
import numpy as np

In [33]:
df1 = pd.DataFrame(np.arange(0, 6).reshape(3,2),columns =[1,'a'] , index=['a','b','c'])
print(df1)
df2 = pd.DataFrame(np.arange(10, 16).reshape(3,2),columns =[2,'a'] , index=['b','a', 'f'])
print(df2)
pd.concat([df1,df2])

   1  a
a  0  1
b  2  3
c  4  5
    2   a
b  10  11
a  12  13
f  14  15

     1   a     2
a  0.0   1   NaN
b  2.0   3   NaN
c  4.0   5   NaN
b  NaN  11  10.0
a  NaN  13  12.0
f  NaN  15  14.0

In [34]:
df1 = pd.DataFrame(np.arange(0, 6).reshape(3,2),columns =[1,'a'] , index=['a','b','c'])
print(df1)

df2 = pd.DataFrame(np.arange(10, 16).reshape(3,2),columns =[1,'b'] , index=['b','a', 'f'])
print(df2)
pd.concat([df1,df2], axis=1)

   1  a
a  0  1
b  2  3
c  4  5
    1   b
b  10  11
a  12  13
f  14  15

     1    a     1     b
a  0.0  1.0  12.0  13.0
b  2.0  3.0  10.0  11.0
c  4.0  5.0   NaN   NaN
f  NaN  NaN  14.0  15.0

In [29]:
#保持不变的那个维度不能有重复的列名,
#比如是横向展开,那么index不能重复
#如果是向下添加行,那么列名不能重复
#下面这个合并就是错误的 , columns =['a','a']
df1 = pd.DataFrame(np.arange(0, 6).reshape(3,2),columns =['a','a'] , index=['a','b','c'])
df1
df2 = pd.DataFrame(np.arange(10, 16).reshape(3,2),columns =[2,'c'] , index=['b','a', 'f'])
df2
pd.concat([df1,df2])

ValueError: Plan shapes are not aligned