# 如何给多层索引降级

# 背景介绍
通常我们不会在Pandas中主动设置多层索引,但是如果一个字段做多个不同的聚合运算, 比如sum, max这样形成的Column Level是有层次的,这样阅读非常方便,但是对编程定位比较麻烦.

# 数据准备

In [19]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(0, 14).reshape(7,2),columns =['a','b'] )
df.a =  df.a %3
df['who'] = 'Bob'
df.loc[df.a%4==0,'who']  = 'Alice'

   a   b    who
0  0   1  Alice
1  2   3    Bob
2  1   5    Bob
3  0   7  Alice
4  2   9    Bob
5  1  11    Bob
6  0  13  Alice

# 对一个字段同时用3个聚合函数

In [3]:
gp1 = df.groupby('who').agg({'b':[sum,np.max, np.min], 'a':sum})
gp1

          b              a
        sum  amax amin sum
who
Alice   8.0   7.0  1.0   0
Bob    28.0  11.0  3.0   6

索引是有层次的,虚要通过下面这种方式,个人感觉不是很方便.下面介绍2种方法来解决这个问题

In [7]:
#有层次的索引访问方法
gp1.loc['Bob', ('b', 'sum')]

28.0

# 直接去除一层

In [4]:
gp2 = gp1.copy(deep=True)
gp2.columns = gp1.columns.droplevel(0)
gp2

        sum  amax  amin  sum
who
Alice   8.0   7.0   1.0    0
Bob    28.0  11.0   3.0    6

# 把2层合并到一层

In [6]:
gp3 = gp1.copy(deep=True)
gp3.columns = ["_".join(x) for x in gp3.columns.ravel()]
gp3

       b_sum  b_amax  b_amin  a_sum
who
Alice    8.0     7.0     1.0      0
Bob     28.0    11.0     3.0      6