In [1]:
#https://pandas.pydata.org/pandas-docs/version/0.23.0/sparse.html#sparsedataframe
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
arr = np.random.random(size=(1000, 5))
arr[arr < .9] = 0

sp_arr = csr_matrix(arr)
sp_arr
sdf = pd.SparseDataFrame(sp_arr)
sdf.shape

(1000, 5)

In [2]:
sdf.fillna(0,inplace=True)
sdf.to_sparse(fill_value=np.nan).to_pickle('sparse.pkl')
sdf.to_dense().to_pickle('dense.pkl')
print(sdf.density)

0.0968

In [3]:
%ll -hltro *.pkl

-rw-r--r--  1 lali2   8.7K Sep 12 23:37 sparse.pkl
-rw-r--r--  1 lali2    40K Sep 12 23:37 dense.pkl

In [4]:
df = pd.read_pickle('sparse.pkl')
print(type(df) )
df.head()

<class 'pandas.core.sparse.frame.SparseDataFrame'>

     0         1    2    3         4
0  0.0  0.000000  0.0  0.0  0.000000
1  0.0  0.000000  0.0  0.0  0.989937
2  0.0  0.000000  0.0  0.0  0.000000
3  0.0  0.985091  0.0  0.0  0.000000
4  0.0  0.000000  0.0  0.0  0.000000