In [1]:
#https://towardsdatascience.com/hacking-scikit-learns-vectorizers-9ef26a7170af
import pandas as pd
import scipy
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

corpora = [
    'The quick brown fox&#x0002E;',
    'dog jumped over the lazy dog&#x00021;'
]
from sklearn.feature_extraction.text import CountVectorizer
cvec = CountVectorizer()
wm = cvec.fit_transform(corpora)
tokens = cvec.get_feature_names()
df = pd.DataFrame(data=wm.toarray(), index=['Doc1', 'Doc2'],
             columns=tokens)

In [2]:
cntTf=df
index = cntTf.index
transformer = TfidfTransformer()

In [3]:
import numpy as np



print('Try to sparse cntTF')
cntTf_sparse = scipy.sparse.csr_matrix(cntTf)

print(f'Try to cal tfidf for {type(cntTf_sparse)}')
tfidf = transformer.fit_transform(cntTf_sparse)

df_weight = pd.SparseDataFrame(tfidf.toarray(), index=index)

df_weight

Try to sparse cntTF
Try to cal tfidf for <class 'scipy.sparse.csr.csr_matrix'>

,0,1,2,3,4,5,6,7,8,9
Doc1,0.471078,0.000000,0.471078,0.000000,0.000000,0.000000,0.471078,0.335176,0.000000,0.471078
Doc2,0.000000,0.685743,0.000000,0.342871,0.342871,0.342871,0.000000,0.243956,0.342871,0.000000

In [4]:
print(f'Try to cal tfidf for {type(cntTf)}')

tfidf = transformer.fit_transform(cntTf)


df_weight = pd.SparseDataFrame(tfidf.toarray(), index=index)

df_weight

Try to cal tfidf for <class 'pandas.core.frame.DataFrame'>

,0,1,2,3,4,5,6,7,8,9
Doc1,0.471078,0.000000,0.471078,0.000000,0.000000,0.000000,0.471078,0.335176,0.000000,0.471078
Doc2,0.000000,0.685743,0.000000,0.342871,0.342871,0.342871,0.000000,0.243956,0.342871,0.000000

In [5]:
df_weight.density
tmp = df_weight.T

In [6]:
tmp2 = tmp.iloc[:, 1]
tmp2[tmp2==0]

0    0.0
2    0.0
6    0.0
9    0.0
Name: Doc2, dtype: float64
BlockIndex
Block locations: array([0], dtype=int32)
Block lengths: array([4], dtype=int32)

In [7]:
tmp

       Doc1      Doc2
0  0.471078  0.000000
1  0.000000  0.685743
2  0.471078  0.000000
3  0.000000  0.342871
4  0.000000  0.342871
5  0.000000  0.342871
6  0.471078  0.000000
7  0.335176  0.243956
8  0.000000  0.342871
9  0.471078  0.000000

In [8]:
print(type(tmp))
import numpy as np
tmp.to_dense().replace({0:np.nan}).to_sparse().fillna(0).density

<class 'pandas.core.sparse.frame.SparseDataFrame'>

0.55

In [9]:
#tmp.replace({0:np.nan})

TypeError: SparseArray does not support item assignment via setitem