In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(0, 6).reshape(3,2),columns =[1,'a'] , index=['a','b','a'])
df['who'] = 'Alice'
df.loc['a','who'] =  'Bob'
df.loc[df.a==3, 'who'] = 'xxxx'
df
df.reset_index(drop=True, inplace=True)
df

   1  a   who
0  0  1   Bob
1  2  3  xxxx
2  4  5   Bob

In [3]:
df.iloc[2,2]=None
df['who'].astype('category')

0     Bob
1    xxxx
2     NaN
Name: who, dtype: category
Categories (2, object): [Bob, xxxx]

In [96]:
df.to_hdf?

In [44]:
df2 = df.reset_index(drop=True)
#df2.columns=['xx','a','b']

df3 = pd.concat([df, df2])
df3.iloc[0,2] = 'Felix'

df3=df3.reset_index()
df3
# pd.concat([df3, df], axis=1)

   index  1  a    who
0      0  0  1  Felix
1      1  2  3   xxxx
2      2  4  5    Bob
3      0  0  1    Bob
4      1  2  3   xxxx
5      2  4  5    Bob

In [51]:
#df3.drop(columns=['who'], inplace=True)
df.drop(columns=['a'], inplace=True)
pd.concat([df3, df])

   index  1    a   who
0    0.0  0  1.0   NaN
1    1.0  2  3.0   NaN
2    2.0  4  5.0   NaN
3    0.0  0  1.0   NaN
4    1.0  2  3.0   NaN
5    2.0  4  5.0   NaN
0    NaN  0  NaN   Bob
1    NaN  2  NaN  xxxx
2    NaN  4  NaN   Bob

In [ ]:
import os
outname = 'del.csv'
outdir = '../98_sample/abdef.def'
if not os.path.exists(outdir):
    os.mkdir(outdir)
fullname = os.path.join(outdir, outname)    

df.to_csv(fullname)

In [ ]:
import pandas as pd
import numpy as np
df_1 = pd.DataFrame(
    {'month':np.arange(0, 6, 1),
     'value':np.random.randn(6) ,
     'who':'Bob'
    }    
)

df_2 = pd.DataFrame(
    {'month':np.arange(0, 6, 1),
     'value':np.random.randn(6) ,
     'who':'Alice'
    }    
)

df = pd.concat([df_1, df_2])

df = df.reset_index(drop=True)
df

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(0, 14).reshape(7,2),columns =['a','b'] )

df.a =  df.a %3
df['who'] = 'Bob'
df.iloc[6,1]=np.nan
df

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(0, 14).reshape(7,2),columns =['a','b'] )

df.a =  df.a %3
df['who'] = 'Bob'
df.iloc[6,1]=np.nan
del df['a']
df

In [ ]:
df.b.iterrow()

In [89]:
import numpy as np
tmp = np.random.randn(4,5)
tmp = pd.DataFrame(tmp)

In [91]:
tmp[tmp<0]=0
tmp

          0         1         2         3         4
0  0.000000  0.425410  0.911224  0.206253  0.309139
1  0.000000  0.940232  2.131089  0.000000  0.648134
2  0.864593  0.002466  0.687857  0.317179  0.000000
3  0.486927  0.165516  1.955605  0.000000  0.276795