In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(0, 14).reshape(7,2),columns =['a','b'] )

df.a =  df.a %3
df['who'] = 'Bob'
df.iloc[6,1]=np.nan
df.sort_values('a', inplace=True)
df

   a     b  who
0  0   1.0  Bob
3  0   7.0  Bob
6  0   NaN  Bob
2  1   5.0  Bob
5  1  11.0  Bob
1  2   3.0  Bob
4  2   9.0  Bob

In [6]:
df.groupby('a').filter(lambda x: x.b.sum()>10)

   a     b  who
1  2   3.0  Bob
2  1   5.0  Bob
4  2   9.0  Bob
5  1  11.0  Bob