In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(0, 12).reshape((4,3)), columns=['a','b','c'])

df.b =df.b%2
df1 = df.copy()
df2 = df.copy()
df1['who'] = 'Mike'
df2['who'] = 'Bob'

df = pd.concat([df1, df2])
df.a = np.arange(0,8)
df = df.reset_index(drop=True)

In [3]:
df.pivot(index='a', columns='b', values='c')

b     0    1
a
0   NaN  2.0
1   5.0  NaN
2   NaN  8.0
3  11.0  NaN
4   NaN  2.0
5   5.0  NaN
6   NaN  8.0
7  11.0  NaN

In [4]:
#用Unstack来实现 Pivot
s = df[['a','b','c']]
s = s.set_index(['a','b'])
s = s.unstack(level='b')
s

      c
b     0    1
a
0   NaN  2.0
1   5.0  NaN
2   NaN  8.0
3  11.0  NaN
4   NaN  2.0
5   5.0  NaN
6   NaN  8.0
7  11.0  NaN

In [6]:
##效果等价于Pivot
xx = df.stack()
type(xx)

pandas.core.series.Series